body {
  font-family: "Poppins", sans-serif;
  background-color: #111;
  color: #fff;
  overflow-x: hidden;
  font-weight: lighter;
  letter-spacing: 0px;
}

p {
  color: #bebbbb;
}

.audiowide-regular {
  font-family: "Audiowide", sans-serif;
  font-weight: 100;
  font-style: normal;
}

nav.navbar {
  background: rgba(0, 0, 0, 0.85);
  backdrop-filter: blur(5px);
}
.hero {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: url("./img/hero1.jpeg") center/cover no-repeat;
  position: relative;
  overflow: hidden;
}

.hero-logo {
  width: 100%;
  max-width: 500px; /* ukuran maksimum */
  height: auto; /* biar proporsional */
  display: block;
  margin: 0 auto; /* untuk center */
}

.hero-content h1 {
  font-size: 3rem;
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  /* overlay lebih gelap supaya tulisan lebih terlihat */
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

/* Bisa tambahkan gambar tambahan sebagai dekorasi overlay */
.hero::after {
  content: "";
  position: absolute;
  inset: 0;

  background-size: 150px auto;
  opacity: 0.2; /* transparansi supaya tidak mengganggu teks */
  z-index: 2;
}

.hero-content {
  position: relative;
  z-index: 3; /* pastikan di atas overlay dan dekorasi */
  color: #fff;
}

.main-video-wrapper {
  width: 100%;
  overflow: hidden;
}

.video-cover {
  width: 100%;
  height: 450px;
  object-fit: cover; /* Hilangkan garis hitam */
  border-radius: 10px;
}

.playlist-list {
  max-height: 450px;
  overflow-y: auto;
  padding-right: 5px;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.playlist-item {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
  cursor: pointer;
  transition: 0.2s;
}

.playlist-item img {
  width: 160px;
  height: 90px;
  object-fit: cover;
  border-radius: 6px;
}

.playlist-item:hover {
  opacity: 0.7;
  background: #f3f3f3;
  padding: 5px;
  border-radius: 8px;
}

section {
  scroll-margin-top: 80px;
}

/* Masonry Gallery ala Pinterest */

#gallery {
  background-color: #000;
}

.masonry {
  column-count: 3;
  column-gap: 1rem;
}
.masonry img {
  width: 100%;
  display: block;
  margin-bottom: 1rem;
  border-radius: 10px;
  transition: transform 0.3s ease;
}
.masonry img:hover {
  transform: scale(1.05);
}

/* Our Team */
.team-member img {
  width: auto;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.team-slide {
  gap: 1rem;
}

.footer-event-img {
  width: 80%;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 0 auto;
}

#about img {
  width: 80%;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 0 auto;
}

#about p {
  text-align: justify;
  line-height: 1.6;
  font-size: 1rem;
}

.yt-placeholder {
  position: relative;
  width: 100%;
  max-width: 900px;
  cursor: pointer;
  aspect-ratio: 16/9;
  overflow: hidden;
}
.yt-placeholder img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.yt-play-button {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90px;
  height: 60px;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  font-weight: bold;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

/* Responsive */
@media (max-width: 992px) {
  .masonry {
    column-count: 2;
  }
}

@media (max-width: 768px) {
  .team-slide {
    justify-content: flex-start;
  }
  .team-member {
    flex: 0 0 8%; /* 2 konten per baris */
    margin-bottom: 1rem;
  }
}

/* Desktop 3 konten */
/* @media (min-width: 769px) {
        .team-member {
          flex: 0 0 40%;
        }
      } */

@media (max-width: 576px) {
  .masonry {
    column-count: 2;
  }

  .team-slide {
    justify-content: flex-start;
  }
  .team-member {
    flex: 0 0 48%; /* 2 konten per baris */
    margin-bottom: 1rem;
  }
  .event-row .col-sm-8 {
    flex: 0 0 48%;
    margin-bottom: 1rem;
    font-size: 0.9rem;
    padding: 122px;
  }
  p {
    font-size: 0.9rem;
  }

  #about p {
    text-align: justify;
    line-height: 1.6;
    font-size: 0.9rem;
  }

  .card-title {
    font-size: 1rem;
  }

  .hero-content h1 {
    font-size: 2rem;
  }

  .hero-content p {
    font-size: 1rem;
  }
}

/* Responsive: tampilkan 2 konten per baris di HP */
@media (max-width: 768px) {
  .event-row .col-sm-8 {
    flex: 0 0 48%;
    margin-bottom: 1rem;
    font-size: 0.9rem;
    padding: 122px;
  }
}

footer {
  background: #000;
  padding: 20px 0;
  text-align: center;
  margin-top: 50px;
}
